@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ogg";
  src: url("./Ogg-Custom.woff2") format("woff2");
}

* {
  font-family: "Ogg";
  color: #131313;
  font-size: 1.5rem;
  text-transform: uppercase;
}

html,
body {
  /* background-color: transparent; */
  background-color: #dadada;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

ul {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul li {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 1s;
}

ul li:hover {
  opacity: 1 !important;
}
